@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    font-size: 10px;
}
body{
    min-height: 100vh;
}
p{
    font-size: 1.6rem;
}
img{
    width: 100%;
}

main{
    width: 100%;
    height: 100vh; 
    background: #005490;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;
    height: 250px;
    background: rgba(255, 255, 255, .6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: rgba(0, 0, 0, .6);
    font-size: 3rem;
}
.checkForm{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.input-text{
    width: 80%;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 5px;
    padding: 0 0 0 10px;
   background:  rgba(255, 255, 255, .6);
}
.btn{
    padding: 1rem 2rem;
    height: 40px;
    color: var(--white);
    background:seagreen;
    border-radius: 5px;
    border: none;
    outline: none;
}
.btn:hover{
    cursor: pointer;
    background:rgb(34, 110, 67);
}
.displayMessage{
    width: 100%;
    height: 61px;
    padding: 1rem 3rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
}
.classTest{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}