@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background:seagreen;
}
.play-board, .select-box, .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.select-box{
    background: #fff;
    padding: 20px  25px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    max-width: 330px;
    width: 100%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.select-box.hide{
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translate(-50%,-50%) scale(.9);
    -moz-transform: translate(-50%,-50%) scale(.9);
    -ms-transform: translate(-50%,-50%) scale(.9);
    -o-transform: translate(-50%,-50%) scale(.9);
    transform: translate(-50%,-50%) scale(.9);
}
.select-box header{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.select-box .title{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}
.select-box .options{
    display: flex;
    gap: 10px;
    width: 100%;
}
.btn{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    outline: none;
    background: seagreen;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.options button{
    width: 100%;
}
.btn:hover{
    background: rgb(37, 116, 71);
    cursor: pointer;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
}


/*play board css  */


.play-board{
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%) scale(.8);
    -moz-transform: translate(-50%, -50%) scale(.8);
    -ms-transform: translate(-50%, -50%) scale(.8);
    -o-transform: translate(-50%, -50%) scale(.8);
    transform: translate(-50%, -50%) scale(.8);
}
.play-board.show{
    display: flex;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.play-board .details{
    background: rgba(255, 255, 255, .5);
    padding: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.play-board .details .players{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    position: relative;
}
.play-board .details span{
    width: 100%;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 7px 0;
    text-align: center;
    font-size: 19px;
    cursor: default;
    font-weight: 500;
}
.play-board .details span.active{
    background: seagreen;
    border: 1px solid rgba(255, 255, 255, 0.9);
    text-align: center;
}
.play-board section{
    display: flex;
}
.play-board section span{
    display: block;
    height: 100px;
    width: 100px;
    font-size: 4rem;
    line-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.box1{
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.box2{
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}
.box3{
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.box4{
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.box5{
    border: 1px solid #fff;
}
.box6{
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.box7{
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}
.box8{
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.box9{
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}



/* result css */


.result-box{
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: none;
}
.result-box .won-text{
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.result-box .won-text p{
    font-weight: 700;
}
.result-box .btnContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.result-box .btnContainer button{
   
}