*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 1000px;
    display: flex;
    flex-direction: column;
   align-items: center;
    gap: 2rem
}
.header h1{
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
}
.gameContainer{
    width: 1000px;
    height: 300px;
    background: rgba(0, 0, 0, .2);
    padding: 2rem;
    position: relative;
    overflow: hidden;
}
.character{
    width: 100px;
    height: 50px;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    top: 230px;
    animation: character 1100ms infinite linear;
    -webkit-animation: character 1100ms infinite linear;
}
.locust{
    position: absolute;
    font-size: 3rem;
    color:rgb(9, 27, 9);
    z-index: 5;
}
.jump{
    -webkit-animation: locust 1100ms;
    animation: locust 1100ms;
}

.leaf{
    width: 100px;
    height: 20px;
    background: rgb(2, 92, 2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, .3);
}
.character2{
    width: 100px;
    height: 50px;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    top: 230px;
    right: 0;
    -webkit-animation: frog 3s infinite linear ;
    animation: frog 3s infinite linear ;
}
.frog{
    font-size: 3rem;
    color: rgb(0, 21, 0);
    position: absolute;
    z-index: 5;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
@keyframes character{
    0%{top:230px}
    50%{top: 235px;}
    100%{top:230px}
}
@keyframes frog{
    0%{right: 0px;}
    100%{right: 1100px;}
}
@keyframes locust {
    0%{top: 0px}
    60%{top:-70px}
    100%{top: 0px}
}
/* Game over box */
.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    z-index: -1 ;
    display: none;
    
}
.overlay.active{
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameOverCard{
    width: 400px;
    height: 200px;
    background: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.gameOverCard h1{
    font-size: 3rem;
    color: rgb(60, 60, 60);
}
.gameOverCard button{
    padding: 1rem 2rem;
    background: maroon;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.gameOverCard button:hover{
    cursor: pointer;
    background: rgb(110, 0, 0);
}